@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;  
    margin: 0 0;
    max-width: 1440px;  
}

html {
    margin: 0 auto;
    font-size: 62.5%;
    --white: #ffffff;
    --border: #818181;
    --transparent-background: rgba(0, 0, 0, 0.45);
    --blue: #01132d;
    --purple: #2d0113;
    --green: #002415;
    --violet: #1b012d;
}

h1 {font-size: 4.778rem;}
h2 {font-size: 3.981rem;}
h4 {font-size: 2.765rem;}
h5 {font-size: 2.304rem;}
h6 {font-size: 1.92rem;}
p {font-size: 1.6rem;}

.roboto-500 {
    font-family: "Roboto", sans-serif;
    font-style: normal; 
    font-weight: 500;  
}
.roboto-400 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400
}
.roboto-300 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
}

.roboto-200 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
}

.notosans-100 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.notosans-150{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 150;
}

.notosans-500 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

a {
    text-decoration: none;
    color: inherit;
}
   
/* Estilos header */
.navbar-large {
    display: none;
}
header {
    position: relative;
    /* height: 12rem; */
    background-color: var(--white);
    border: solid 0.25rem var(--border);
    color: var(--blue);
}
.container-fluid {
    /* margin-top: 1.8rem; */
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.navbar-brand {
    margin-right: revert;
}

.navbar-toggler-icon{
    padding: 2.3rem;
}
.navbar-nav {
    font-size: 1.6rem;    
    letter-spacing: 0.2rem;
    margin-left: 1rem;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}
    
/* Estilos main */
.section1 {
    display: grid;
    grid-template-rows: max-content max-content;
    background-color: var(--blue);
}
.section2 {
    display: grid;
    grid-template-rows: max-content max-content;
    background-color: var(--purple);
}
.section3 {
    display: grid;
    grid-template-rows: max-content max-content;
    background-color: var(--green);
}
.section4 {
    display: grid;
    grid-template-rows: max-content max-content;
    background-color: var(--violet);
}

.phrases {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 3rem 4rem;
}
.section-subheading {
    letter-spacing: 0.2rem;
    color: white;
}
.section-heading1 {
    text-align: right;
    line-height: 4.9rem;
    letter-spacing: 0.3rem;
    color: white;
}

.videos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel {
    width: 100%;
    padding-bottom: 56.52%;
    /* border: solid blue 2px; */
}
.carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;  
}
.carousel-caption {
    line-height: 99.78%;
    letter-spacing: 0.05rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* border:solid 5px red; */
}

/* Estilos footer */
.contact-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.8rem;
    background-color: var(--white);
    border: solid 0.25rem var(--border);
    color: var(--blue);
}
.footer-container{
    position: relative;
    width: 32.2rem;
    height: 63.9rem;
}
/* .form {
    position: absolute;
    width: 100%;
    height: 100%;
    
} */
.footer-heading {
    position: absolute;
    width: 23.8rem;
    height: 4.7rem;
    left: 4.2rem;
    top: 2.3rem;
    text-align: center;
    letter-spacing: 0.3rem;
}
.label1 {
    position: absolute;
    width: 8.5rem;
    height: 1.9rem;
    left: 11.8rem;
    top: 7.7rem;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.07rem;
}
.text-box1 {
    position: absolute;
    width: 22rem;
    height: 3.4rem;
    left: 5.1rem;
    top: 10.3rem;
    border: solid 0.3rem var(--blue);
    border-radius: 1.3rem;
}
.label2 {
    position: absolute;
    width: 8.4rem;
    height: 1.9rem;
    left: 11.9rem;
    top: 14.4rem;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.07rem;
}
.text-box2 {
    position: absolute;
    width: 22rem;
    height: 3.4rem;
    left: 5.1rem;
    top: 17rem;
    border: solid 0.3rem var(--blue);
    border-radius: 1.3rem;
}
.label3 {
    position: absolute;
    width: 11.1rem;
    height: 1.9rem;
    left: 10.5rem;
    top: 21.1rem;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.07rem;
}
.text-box3 {
    position: absolute;
    width: 22rem;
    height: 3.4rem;
    left: 5.1rem;
    top: 23.7rem;
    border: solid 0.3rem var(--blue);
    border-radius: 1.3rem;
}
.label4 {
    position: absolute;
    width: 11rem;
    height: 1.9rem;
    left: 10.6rem;
    top: 27.8rem;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.07rem;
}
.text-area {
    position: absolute;
    width: 22rem;
    height: 11.7rem;
    left: 5.1rem;
    top: 30.4rem;
    border: solid 0.3rem var(--blue);
    border-radius: 1.3rem;
}
.submit-button {
    position: absolute;
    width: 22rem;
    height: 3.7rem;
    left: 5.1rem;
    top: 44rem;
    border: solid 0.3rem var(--blue);
    border-radius: 1.3rem;
    font-size: 1.92rem;
    color: white;
    background-color: var(--blue);
}
.tips {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 11rem;
    top: 51.5rem;
}
.youtube {
    position: absolute;
    width: 3.9rem;
    height: 3.4rem;
    left: 17.3rem;
    top: 51.8rem;
}
.copyright {
    position: absolute;
    width: 25.4rem;
    height: 1.6rem;
    left: 3.4rem;
    top: 59.3rem;
    font-size: 1.333rem;
    text-align: center;
    letter-spacing: 0.075rem;
}

@media (max-width: 456px) {
    .section-heading1 {
        font-size: 4.2rem;
    }
}

@media (max-width: 420px) {
    .section-heading1 {
        font-size: 3.7rem;
    }
}

@media (max-width: 386px) {
    .section-heading1 {
        font-size: 3.4rem;
        letter-spacing: 0.2rem;
    }
}

@media (max-width: 348px) {
    .section-heading1 {
        font-size: 3.2rem;
        letter-spacing: 0.1rem;
    }
}

@media (min-width: 768px) {

    /* Estilos header */
    body{
        width: 144rem;
    }
    header {
        position: relative;
        width: 144rem;
        height: 12rem;
        background-color: var(--white);
        /* margin-right: -0.8rem; */
        border: solid 0.25rem var(--border);
        color: var(--blue);
    }
    .navbar-large {
        display: revert;
    }
    .navbar {
        display: none;
    }
    .name {
        position: absolute;
        top: 3.8rem;
        left: 65.6rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        display: inline-block;
        /* border:solid 5px red; */
    }
    .logo {
        position: absolute;
        top: 2.5rem;
        left: 5.4rem;
        display: inline-block;
        /* border:solid 5px red; */
    }
    .nav-menu {
        position: absolute;
        top: 5.4rem;
        right: 5.4rem;
        list-style-type: none;
        display: inline-block;
        /* border:solid 5px red; */
    }
    nav ul li {
        display: inline-block;
        margin-right: 3.8rem;
        font-size: 1.6rem;    
        letter-spacing: 0.2rem;
    }

    /* Estilos main */
    .section1 {
        position: relative;
        width: 144rem;
        height: 67.2rem;
        background-color: var(--blue);
        /* background-image: url("./assets/Adriaen_Brouwer_-_Twilight_Landscape_-_WGA3311.jpg");
        background-size: 57.3rem 32.251rem;
        background-position: 69.6rem 17.1rem;
        background-repeat: no-repeat; */
    } 
    .section2 {
        position: relative;
        width: 144rem;
        height: 67.2rem;
        background-color: var(--purple);
    }
    .section3 {
        position: relative;
        width: 144rem;
        height: 67.2rem;
        background-color: var(--green);
    }
    .section4 {
        position: relative;
        width: 144rem;
        height: 67.2rem;
        background-color:var(--violet);
    }

    .phrases{
        position: revert;
        display: revert;
    }
    .section-subheading {
        position: absolute;
        top: 17.1rem;
        left: 17.1rem;
        letter-spacing: 0.2rem;
        color: white;
        /* border:solid 5px red; */
    }
    .section-heading1{
        position: absolute;
        top: 24rem;
        right: 85.8rem;
        text-align: right;
        line-height: 4.9rem;
        letter-spacing: 0.3rem;
        color: white;
        /* border:solid 5px red; */
    }
    .section-heading2{
        position: absolute;
        top: 24rem;
        right: 85.8rem;
        text-align: right;
        line-height: 4.9rem;
        letter-spacing: 0.4rem;
        color: white;
        /* border:solid 5px red; */
    }
    
    .videos {
        position: absolute;
        top: 17.1rem;
        left: 69.6rem;
        width: 57.3rem;
        height: 32.251rem;
    }
    .carousel {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .carousel-inner {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .carousel-item {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .carousel-caption {
        line-height: 99.78%;
        letter-spacing: 0.05rem;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 3rem;
        height: 3rem;
    }
    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        /* border:solid 5px red; */
    }

    /* Footer styles */
    .contact-section {
        position: relative;
        display: revert;
        width: 144rem;
        height: 92.8rem;
        background-color: var(--white);
        border: solid 0.25rem var(--border);
        color: var(--blue);
    }
    .footer-container{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    /* .form {
        position: absolute;
        width: 100%;
        height: 100%;
    } */
    .footer-heading {
        position: absolute;
        width: revert;
        height: revert;
        left: 60.2rem;
        top: 17.1rem;
        letter-spacing: 0.35rem;
    }
    .label1 {
        position: absolute;
        width: revert;
        height: revert;
        left: 67.7rem;
        top: 22.5rem;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
    }
    .text-box1 {
        position: absolute;
        left: 61rem;
        top: 25.1rem;
        width: 22rem;
        height: 2.6rem;
        border: solid 0.3rem var(--blue);
        border-radius: 1.3rem;
    }
    .label2 {
        position: absolute;
        width: revert;
        height: revert;
        left: 67.8rem;
        top: 29.2rem;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
    }
    .text-box2 {
        position: absolute;
        left: 61rem;
        top: 31.8rem;
        width: 22rem;
        height: 2.6rem;
        border: solid 0.3rem var(--blue);
        border-radius: 1.3rem;
    }
    .label3 {
        position: absolute;
        width: revert;
        height: revert;
        left: 66.4rem;
        top: 35.9rem;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
    }
    .text-box3 {
        position: absolute;
        left: 61rem;
        top: 38.5rem;
        width: 22rem;
        height: 2.6rem;
        border: solid 0.3rem var(--blue);
        border-radius: 1.3rem;
    }
    .label4 {
        position: absolute;
        width: revert;
        height: revert;
        left: 66.5rem;
        top: 42.6rem; 
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
    }
    .text-area {
        position: absolute;
        left: 61rem;
        top: 45.2rem;
        width: 22rem;
        height: 11.7rem;
        border: solid 0.3rem var(--blue);
        border-radius: 1.3rem;
    }
    .submit-button {
        position: absolute;
        left: 61rem;
        top: 58.8rem;
        width: 22rem;
        height: 3.6rem;
        border: solid 0.3rem var(--blue);
        border-radius: 1.3rem;
        font-size: 1.92rem;
        color: white;
        background-color: var(--blue);
    }
    .tips {
        position: absolute;
        left: 66.9rem;
        top: 66.3rem;
    }
    .youtube {
        position: absolute;
        left: 73.2rem;
        top: 67rem;  
    }
    .copyright {
        position: absolute;
        left: 59.6rem;
        top: 74.1rem;
        letter-spacing: 0.075rem;
    }    
}

/* --------------------------- */
/* album page */

.albums-main {
    position: relative;
    background-color: var(--purple);
    margin: 0 0;
}
.title-container {
    padding: 13.3rem 0;
}
.title {
    color: white;
    text-align: center;
    letter-spacing: 0.95rem;
}
.album-row {
    display: grid;
    justify-content: center;
}
.album-container {
    width: fit-content;
    padding-bottom: 9.5rem;
}
.album-container-last {
    width: fit-content;
    padding-bottom: 23.8rem;
}
.album1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30.65rem;
    height: 30.65rem;
    background-image: url("../assets/dawn-landscape.png");
    background-size: cover;
}
.label-album1 {
    color: white;
    letter-spacing: 0.3rem;
    text-align: center;
    background-color: var(--transparent-background);
    padding: 1rem 1.9rem;
    border-radius: 5rem;
}
.album2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30.65rem;
    height: 30.65rem;
    background-image: url("../assets/into-the-night.jpg");
    background-size: cover;
}
.label-album2 {
    color: white;
    letter-spacing: 0.3rem;
    text-align: center;
    background-color: var(--transparent-background);
    padding: 0.8rem 2.4rem;
    padding-top: 1rem;
    border-radius: 4rem;
}
.album3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30.65rem;
    height: 30.65rem;
    background-image: url("../assets/love.jpg");
    background-size: cover;
}
.label-album3 {
    color: white;
    letter-spacing: 0.4rem;
    text-align: center;
    background-color: var(--transparent-background);
    padding: 1rem 1.9rem;
    border-radius: 5rem;
}
.album4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30.65rem;
    height: 30.65rem;
    background-image: url("../assets/spring-flowers.jpg");
    background-size: cover;
}
.label-album4 {
    color: white;
    letter-spacing: 0.3rem;
    text-align: center;  
    background-color: var(--transparent-background);
    padding: 1rem 1.9rem;
    border-radius: 5rem;
}
.label-hover:hover{
    color: var(--blue);
    font-weight: 900;
    background-color: white;
}

@media (min-width: 576px) {
    .album1 {
        width: 40.65rem;
        height: 40.65rem;
    }
    .album2 {
        width: 40.65rem;
        height: 40.65rem;
    }
    .album3 {
        width: 40.65rem;
        height: 40.65rem;
    }
    .album4 {
        width: 40.65rem;
        height: 40.65rem;
    }
}

@media (min-width: 768px) {
    .album-row {
        display: grid;
        grid-template-columns: 1fr auto 9.5rem auto 1fr;  
    }
    .album-container {
        width: fit-content;
        padding-bottom: 9.5rem;
    }    
}
/* ------------------------------ */
/* commission page */

.commission-main {
    /* width: 144rem;
    height: 200.6rem; */
    padding-bottom: 19.5rem;
    background-color: var(--green);
}

.commission-heading-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 13.3rem 3.3rem;
}
.commission-heading { 
    max-width: 59.7rem;
    /* font-size: 4rem; */
    text-align: center;
    letter-spacing: 0.5rem;
    color: white;
}

.commission-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 13.3rem;
    margin-left: 3.6rem;
    margin-right: 3.6rem;
}

.commission-picture-container{
    display: none;
}

.commission-box {
    box-sizing: border-box;
    width: 32rem;
    background: white;
}
.commission-tier {
    width: 32rem;
    height: 15.2rem;
    display: grid;
    grid-template-areas: 
    "heading heading heading"
    "button1 button2 button3"
    "label1 label2 label3"
    "price1 price2 price3";
    grid-template-rows: 41.44% 21.71% 13.81% 23.02%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: start;
    background-color: var(--blue);
    border: 0.2rem solid black;
}
.tier-heading {
    grid-area: heading;
    align-self: center;
    line-height: 1.9rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-variant: small-caps;
    color: white;
}
.radio-button1 {
    grid-area: button1;
    height: 2rem;
}
.starter-label {
    grid-area: label1;
    font-size: 1.333rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.26rem;
    font-variant: small-caps;
    color: white;
}
.starter-price {
    grid-area: price1;
    font-size: 1.333rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.08rem;
    color: white;
}
.radio-button2 {
    grid-area: button2;
    height: 2rem;
}
.standard-label {
    grid-area: label2;
    font-size: 1.333rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.26rem;
    font-variant: small-caps;
    color: white;
}
.standard-price {
    grid-area: price2;
    font-size: 1.333rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.08rem;
    color: white;
}
.radio-button3 {
    grid-area: button3;
    height: 2rem;
}
.advanced-label {
    grid-area: label3;
    font-size: 1.333rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.26rem;
    font-variant: small-caps;
    color: white;
}
.advanced-price{
    grid-area: price3;
    font-size: 1.333rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.08rem;
    color: white;
}

.commission-text{
    position: relative;
    width: 32rem;
    padding-bottom: 5.7rem;
    border: 0.2rem solid black;
}
.commission-text-titles{
    display: flex;
    flex-direction: column;
    margin-top: 5.5rem;
    margin-bottom: 1.7rem;
    margin-left: 2.487rem;
    gap: 1.7rem;
}
.commission-text-heading1{
    max-width: 28.679rem;
    height: 2.6rem;
    letter-spacing: 0.1rem;
    color: var(--blue)
}
.commission-text-subheading{
    max-width: 28rem;
    height: 5rem;
    letter-spacing: 0.1rem;
    color: var(--blue);
}
.commission-feature-box{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    grid-template-areas: 
    "a1 a2"
    "b1 b2"
    "c1 c2"
    "d1 d2"
    "e1 e2"
    "f1 f2"
    "g1 g2";
    margin-inline: 2.487rem;
}
.commission-feature-box > * {
    height: 1.5rem;
}
.commission-text-feature1{
    grid-area: a1;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-feature2{    
    grid-area: b1;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-feature3{
    grid-area: c1;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-feature4{
    grid-area: d1;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-feature5{
    grid-area: e1;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-feature6{
    grid-area: f1;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-feature7{
    grid-area: g1;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-value1{
    grid-area: a2;
    text-align: right;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-value2{
    grid-area: b2;
    text-align: right;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-value3{
    grid-area: c2;
    text-align: right;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-value4{
    grid-area: d2;
    text-align: right;
    letter-spacing: 0.09rem;
    color: var(--blue);
}
.commission-text-value5{
    width: 1.626rem;
    grid-area: e2;
    justify-self: right;
}
.commission-text-value6{
    width: 1.626rem;
    grid-area: f2;
    justify-self: right;
}
.commission-text-value7{
    width: 1.626rem;
    grid-area: g2;
    justify-self: right;
}

.commission-product-description{
    display: flex;
    flex-direction: column;
    margin-inline: 2.487rem;
}
.commission-text-heading2{
    height: 2.6rem;
    margin-top: 3rem;
    letter-spacing: 0.1rem;
    color: var(--blue)
}
.commission-text-paragraph1{
    margin-top: 1.7rem;
    line-height: 1.9rem;
    text-align: justify;
    letter-spacing: 0.045rem;
    color: var(--blue);
}
.commission-text-paragraph2{
    margin-top: 3.2rem;
    line-height: 1.9rem;
    text-align: justify;
    letter-spacing: 0.045rem;
    color: var(--blue);
}
.commission-text-extra1{
    margin-top: 0.9rem;
    line-height: 1.9rem;
    letter-spacing: 0.08rem;
    color: var(--blue);
}
.commission-text-extra2{
    margin-top: 0.9rem;
    line-height: 1.9rem;
    text-align: justify;
    letter-spacing: 0.045rem;
    color: var(--blue);
}
.commission-text-extra3{
    margin-top: 0.9rem;
    line-height: 1.9rem;
    letter-spacing: 0.08rem;
    color: var(--blue);
}
.commission-text-extra4{
    margin-top: 0.9rem;
    line-height: 1.9rem;
    text-align: justify;
    letter-spacing: 0.045rem;
    color: var(--blue);
}

@media (min-width: 576px){
    .commission-heading { 
        max-width: 59.7rem;
        /* font-size: 4.778rem; */
        text-align: center;
        letter-spacing: 0.5rem;
        color: white;
    }

    .commission-picture-container{
        width: 34.2rem;
        height: 78.4rem;
        align-self: center;
        overflow: hidden;
    }
}

@media (min-width: 768px){
    .commission-content-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 26.6rem;
        margin-right: 26.6rem;
    }

    .commission-picture-container{
        display: revert;
        width: 31.6rem;
        height: 72.4rem;
        align-self: center;
        overflow: hidden;
    }
    .commission-picture {
        width: auto;
        height: 100%;
        object-position: center;
    }

    .commission-box {
        box-sizing: border-box;
        width: 42rem;
        height: 127.8rem;
        background: white;
    }
    .commission-tier {
        width: 42rem;
        height: 15.2rem;
        display: grid;
        grid-template-areas: 
        "heading heading heading"
        "button1 button2 button3"
        "label1 label2 label3"
        "price1 price2 price3";
        grid-template-rows: 41.44% 21.71% 13.81% 23.02%;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        align-items: start;
        background-color: var(--blue);
        border: 0.2rem solid black;
    }
    .commission-text{
        position: relative;
        width: 42rem;
        border: 0.2rem solid black;
    }
}

/* ------------------------------ */
/* about page */

.about-main {
    padding-bottom: 19.5rem;
    background-color: var(--violet);
}

.about-title-container{
    padding: 13.3rem 3.3rem;
}
.about-heading {
    text-align: center;
    letter-spacing: 1.2rem;
    color: white;
}

.about-content{
    display: flex;
    flex-direction: column;
    gap: 13.3rem;  
}
.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9rem;
}
.about-text1 {
    width: 20.9rem;
    height: 20.9rem;
    line-height: 1.9rem;
    text-align: justify;
    letter-spacing: 0.17rem;
    color: white;
}
.about-text2 {
    width: 20.9rem;
    height: 30.4rem;
    line-height: 1.9rem;
    text-align: justify;
    letter-spacing: 0.12rem;
    color: white;
}

.about-pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.947rem;
}
.about-picture1 {
    width: 32rem;
    height: 17.942rem;
}
.about-picture2 {
    display: none;
}
.about-picture3 {
    display: none;
}

@media (min-width: 768px) {
    .about-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 36.1rem;
        margin-right: 28.5rem;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.9rem;
    }

    .about-pictures{
        display: flex;
        flex-direction: column;
        gap: 5.947rem;
    }
    .about-picture1 {
        width: 44.901rem;
        height: 25.176rem;
    }
    .about-picture2 {
        display: revert;
        width: 44.901rem;
        height: 25.176rem;
        background-color: hsl(0, 10%, 2%);
    }
    .about-picture3 {
        display: revert;
        width: 44.901rem;
        height: 25.176rem;
    }
}

/* ------------------------------ */
/* contact page */

.contact-main-section {
    display: flex;
    justify-content: center;
    padding-top: 19.5rem;
    background-color: var(--white);
    border-left: solid 0.25rem var(--border);
    border-top: solid 0.25rem var(--border);
    border-right: solid 0.25rem var(--border);
    color: var(--blue);
}

.contact-image{
    width: calc(35.2rem*0.75);
    height: calc(44rem*0.75);
}

.contact-section-special {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92.8rem;
    background-color: var(--white);
    border-left: solid 0.25rem var(--border);
    border-bottom: solid 0.25rem var(--border);
    border-right: solid 0.25rem var(--border);
    color: var(--blue);
}






