// about page main: mobile first
.about-main {
  max-width: 144rem;
	padding-bottom: min(51.87vw, 16.6rem);
	background-color: $violet;
	.about-heading-container{
		padding-block: min(41.56vw, 13.3rem);
		padding-inline: 33px;
		.about-heading {
			font-size: min(14.93vw, 4.778rem);
			text-align: center;
			letter-spacing: 1.2rem;
			color: white;
			margin-bottom: 0;
		}
	}
	.about-content-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: min(41.56vw, 13.3rem);
		.about-text-container {
			display: flex;
			flex-direction: column;
			gap: 1.9rem;
			width: min(68vw, 20.9rem);
			.about-text1 {
				line-height: 1.9rem;
				text-align: justify;
				letter-spacing: 0.17rem;
				color: white;
			}
			.about-text2 {
        @extend .about-text1;
				letter-spacing: 0.12rem;
			}
		}
		.about-picture-container {
			display: flex;
			flex-direction: column;
			gap: 5.947rem;
			.about-picture1 {
				width: min(100vw, 27rem);
				height: min(55.857vw, 15.08rem);
			}
			.about-picture2, .about-picture3 {
        @extend .about-picture1;
				display: none;
			}
		}
	}
}

// about page main: medium breakpoint
@include media(medium) {
	.about-main {
		padding-bottom: 22.5rem;
		.about-content-container {
			flex-direction: row;
			justify-content: center;
      gap: min(9.23vw, 13.3rem);
			margin-left: min(5.27vw, 7.6rem);
			.about-picture-container {
				.about-picture1 {
					width: min(45vw, 44.901rem);
					height: min(25.23vw, 25.176rem);
				}
				.about-picture2 {
					display: revert;
					background-color: hsl(0, 10%, 2%);
				}
				.about-picture3 {
					display: revert;
				}
			}
		}
	}
}



