// albums page main: mobile first
.albums-main {
	background-color: $purple;
	padding-top: 133px;
	padding-bottom: 238px;
	padding-inline: 0;
	.title-row {
		.title-container {
			padding-bottom: 133px;
			.title {
				font-size: 47.78px;
				color: $white;
				text-align: center;
				letter-spacing: 9.5px;
			}
		}
	}
	.album-row {
		.album-col {
			.album1 {
				display: grid;
				place-content: center;
				width: 306.5px;
				height: 306.5px;
				background-image: url("../assets/dawn-landscape.png");
				background-size: cover;
				.label-album1 {
					color: $white;
					letter-spacing: 0.3rem;
					text-align: center;
					background-color: $transparent-background;
					padding: 1rem 1.9rem;
					border-radius: 5rem;
          transition-duration: 700ms;
					&:hover{
						color: $blue;
						font-weight: 900;
						background-color: $white;
					}
				}
			}
		}
		.album-col {
			.album2 {
				@extend .album1;
				background-image: url("../assets/into-the-night.jpg");
				.label-album2 {
					@extend .label-album1;
					padding: 1rem 2.4rem 0.8rem;
					border-radius: 3rem;
				}
			}
		}
	}
	.album-row {
		.album-col {
			.album3 {
				@extend .album1;
				background-image: url("../assets/love.jpg");
				.label-album3 {
					@extend .label-album1;
					letter-spacing: 0.4rem;
				}
			}
		}
		.album-col {
			.album4 {
				@extend .album1;
				background-image: url("../assets/spring-flowers.jpg");
				.label-album4 {
					@extend .label-album1;
				}
			}
		}
	}
}

// albums page main: small breakpoint
@include media(small-px) {
	.albums-main {
		padding-top: 13.3rem;
		padding-bottom: 23.8rem;
		.title-row {
			.title-container {
				padding-bottom: 13.3rem;
				.title {
					font-size: 4.778rem;
					letter-spacing: 0.95rem;
				}
			}
		}
		.album-row {
			.album-col {
				.album1, .album2, .album3, .album4 {
					width: 406.5px;
					height: 406.5px;
				}
			}
		}
	}   
}

