// commissions page main: mobile first
.commission-main {
  max-width: 144rem;
	padding-bottom: min(51.87vw, 16.6rem);
	background-color: $green;
	.commission-heading-container {
		display: flex;
		justify-content: center;
		padding-block: min(34.62vw, 13.3rem);
		padding-inline: 33px;
		.commission-heading { 
      font-size: min(12.44vw, 4.778rem);
			text-align: center;
			letter-spacing: 0.5rem;
			color: $white;
			margin-bottom: 0;
		}
	}
	.commission-content-container {
		.commission-picture-container {
			display: none;
		}
		.commission-box-container {
      margin-inline: auto;
			width: min(100vw, 32rem);
			background: $white;
			.commission-tier {
				min-height: 15.2rem;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 41.44% 21.71% 13.81% 23.02%;
				padding-inline: min(2.5vw, 1.5rem);
				background-color: $blue;
				border: 0.2rem solid black;
				.tier-heading {
					grid-column: span 3;
					align-self: center;
					text-align: center;
					font-size: min(6.12vw, 1.6rem);
					line-height: 1.9rem;
					letter-spacing: 0.4rem;
					font-variant: small-caps;
					color: $white;
				}
				.tier-radio-button {
					height: min(7.65vw, 2rem);
				}
				.tier-label {
					font-size: min(5.1vw, 1.333rem);
					line-height: 1.6rem;
					text-align: center;
					letter-spacing: 0.26rem;
					font-variant: small-caps;
					color: $white;
				}
				.tier-price {
					font-size: min(5.1vw, 1.333rem);
					line-height: 1.6rem;
					text-align: center;
					letter-spacing: 0.08rem;
					color: $white;
				}
			}
			.commission-text {
				padding-block: 5.5rem 5.7rem;
				padding-inline: min(8.5vw, 2.487rem);
				color: $blue;
				border: 0.2rem solid black;
				.commission-text-titles {
					display: flex;
					flex-direction: column;
					gap: 1.7rem;
					margin-bottom: 1.7rem;
					letter-spacing: 0.1rem;
					.commission-text-heading {
						max-width: 28.679rem;
						min-height: 2.6rem;
					}
					.commission-text-subheading {
						max-width: 28rem;
						min-height: 5rem;
					}
				}
				.commission-feature-section {
					display: grid;
					grid-template-columns: 3fr 1fr;
					grid-template-rows: repeat(7, 1fr);
					letter-spacing: 0.09rem;
					& > * {
						min-height: 1.5rem;
					}
					.commission-feature-value {
						text-align: right;
					}
					.commission-feature-img {
						width: 1.626rem;
						justify-self: right;
					}
				}
				.commission-product-description {
					display: flex;
					flex-direction: column;
					.commission-description-heading {
						min-height: 2.6rem;
						margin-top: 3rem;
						letter-spacing: 0.1rem;
					}
					.commission-description-paragraph1 {
						margin-top: 1.7rem;
						line-height: 1.9rem;
						text-align: justify;
						letter-spacing: 0.045rem;
					}
					.commission-description-paragraph2 {
						@extend .commission-description-paragraph1;
						margin-top: 3.2rem;
					}
					.commission-extras-heading {
						margin-top: 0.9rem;
						line-height: 1.9rem;
						letter-spacing: 0.08rem;
					}
					.commission-extras-list {
						@extend .commission-extras-heading;
						letter-spacing: 0.045rem;
					}
				}
			}
		}
	}
}

// commissions page main: small breakpoint
@include media(small-px) {
	.commission-main {
		.commission-heading-container {
			.commission-heading { 
				max-width: 59.7rem;
			}
		}
		.commission-content-container {
			.commission-box-container {
				width: 34.2rem;
			}           
		}
	}
}

// commissions page main: medium breakpoint
@include media(medium) {
	.commission-main {
		padding-bottom: 22.5rem;
		.commission-content-container {
			display: flex;
			justify-content: center;
      align-items: center;
      gap: 6%;
			.commission-picture-container {
				display: block;
				width: 31.6rem;
				height: 72.4rem;
				overflow: hidden;
				.commission-picture {
					height: 100%;
				}
			}
      .commission-box-container {
				margin-inline: 0;
			}  
		}
	}
}

@include media(large) {
  .commission-main {
		.commission-content-container {
      gap: 8%;
    }
  }
}