// header for small sizes
header {
	background-color: $white;
	border: solid 0.25rem $border;
	color: $blue;
	.navbar{
		padding: 0;
		.container-fluid {
			padding: 1rem;
			margin-left: 1rem;
			margin-right: 1rem;
			.navbar-brand {
				margin-right: 0;
				.logo {
					height: 52px;
				}
			}
			.name {
				margin: 0 0 0 -4px;
			}
			.navbar-toggler {
				display: grid;
				place-content: center;
				width: 1.2em;
				height: 1.2em;
				font-size: 3.6rem;
				border: 0px;
				padding-inline: 0.4rem;
				&:focus {
					box-shadow: none;
				}
				.navbar-toggler-icon {
					width: 1.35em;
					height: 1.35em;
					background-image: url("../assets/hamburger-icon.svg");
				}
			}
			.navbar-collapse {
				.navbar-nav {
					align-items: center;
					font-size: $size-p; 
					font-weight: 300;   
					letter-spacing: 0.2rem;
					margin-left: 1rem;
					margin-block: 2.8rem;
					row-gap: 1.6rem;
          .nav-item {
            .nav-link {
              transition: all 0.3s; 
              &:hover{
                transform: scale(1.1);   
              }
            }
            .active {
              font-weight: 800;
              transition: all 0.3s; 
              &:hover{
                transform: scale(1.2);   
              }
            }
          }         
				}
			}
		}
	}
}

// header for medium sizes
@include media(medium) {
	header {
		max-width: 144rem;
		height: 12rem;
		.navbar{
			height: 100%;
			.container-fluid {
				padding: 0;
				margin-left: 0;
				margin-right: 0;
				.navbar-brand {
					.logo {
						height: 6.3rem;
						margin-left: 5.4rem;
					}
				}
				.name {
					padding-left: 22.36%;
          padding-right: 8rem;
					font-size: 3.981rem;
				}
				.navbar-toggler {
					display: none;
				}
				.navbar-collapse {
					flex-grow: revert;
					.navbar-nav {
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 0;
            margin: 0.9rem 4.5rem 0 0;
						.nav-item {
							margin-right: 0.85rem;
							font-size: $size-p;    
							letter-spacing: 0.05rem;
              .nav-link {
                padding-block: 0;
              }
						}
					}	
				}
			}
		}
	}
}
