// home page main: mobile first
// all sections
.section1, .section2, .section3, .section4 {
	max-width: 144rem;
	background-color: $blue;
	.phrases {
		display: flex;
		flex-direction: column;
		gap: 1.9rem;
		padding: 57px 40px;
		.section-subheading {
			letter-spacing: 0.2rem;
			color: $white;
		}
		.section-heading1 {
			text-align: right;
			line-height: 1.02;
			color: $white;
			font-size: 32px;
			letter-spacing: 1px;
			@include media(x-small-1) {
				font-size: 34px;
				letter-spacing: 2px;
			}
			@include media(x-small-2) {               
				font-size: 37px;
			}
			@include media(x-small-3) {   
				font-size: 42px;   
			}	
		}
	}
	.videos {
		.carousel {
			.carousel-indicators {
				display: none;
			}
			.carousel-inner {
        .carousel-item {
          .carousel-caption {
            bottom: 0;
            padding-block: 10px;
            line-height: 99.78%;
            letter-spacing: 0.05rem;
            h4 {
              font-size: 1.6rem;
              font-weight: 700;
							margin-bottom: 0;
            }
						@include media(x-small) {
							h4 {
								margin-bottom: 8px;
							}  
						}
						@include media(small-px) {
							h4 {
								font-size: 1.92rem;
							}  
						}
          }
        }
			}    
			.carousel-control-prev {
				left: 2.5rem;
				top: 45%;
				bottom: 43%;
				opacity: revert;
				.carousel-control-prev-icon {
					background-image: url(../assets/left-arrow.svg);                   
					width: 100%;
					height: 100%;                   
				}
			}
			.carousel-control-next {
				right: 2.5rem;
				top: 45%;
				bottom: 43%;
				opacity: revert;
				.carousel-control-next-icon {
					background-image: url(../assets/right-arrow.svg);   
					width: 100%;
					height: 100%;         
				}
			}           
		}
	}
}

// section 2
.section2 {
	background-color: $purple;
}
// section 3
.section3 {
	background-color: $green;
	.section-heading1 {
		letter-spacing: 0.3rem;
	}
}
// section 4
.section4 {
	background-color: $violet;
}

// home page main: medium breakpoint
// all sections
@include media(medium-px) {
	.section1, .section2, .section3, .section4 {
    display: flex;
		justify-content: center;
    column-gap: 9.7%;
    padding: 11.8%;
		height: min(46.66vw, 67.2rem);
		.phrases {
			flex-basis: 41.6rem;
			row-gap: 11%;
      padding: 0;
			padding-top: 1px;
			.section-subheading {
				font-size: min(1.6vw, 2.304rem);
			}
			.section-heading1 {
				font-size: min(3.318vw, 4.778rem);
				letter-spacing: 3px;
			}
		}
		.videos {
			flex-basis: 57.3rem;
			align-self: center;
			.carousel {
				.carousel-inner {
					.carousel-item {
						.carousel-caption {
							h4 {
								font-size: 1.6rem;
								margin-bottom: 0;
							}
							@include media(x-large-px) {
								h4 {
									font-size: 1.92rem;
									margin-bottom: 8px;
								}
							}                   
						}
					}
				}
			}
		}
	} 
}

// section 3
@include media(medium-px) {
	.section3 {
		.phrases {
			.section-heading1 {
				letter-spacing: 0.4rem;
			}
		}
	}   
}


