// home page main: mobile first
// section 1
.section1 {
	background-color: $blue;
	.phrases {
		display: flex;
		flex-direction: column;
		gap: 1.9rem;
		padding: 5.7rem 4rem;
		.section-subheading {
			letter-spacing: 0.2rem;
			color: $white;
		}
		.section-heading1 {
			text-align: right;
			line-height: 4.9rem;
			letter-spacing: 0.3rem;
			color: $white;
			@include media(font-size4) {   
				font-size: 4.2rem;   
			}
			@include media(font-size3) {               
				font-size: 3.7rem;
			}
			@include media(font-size2) {
				font-size: 3.4rem;
				letter-spacing: 0.2rem;
			}
			@include media(font-size1) {
				font-size: 3.2rem;
				letter-spacing: 0.1rem;
			}
		}
	}
	.videos {
		.carousel {
			.carousel-indicators {
				display: none;
			}
			.carousel-inner {
        .carousel-item {
          .carousel-caption {
            bottom: 0;
            padding-block: 1rem;
            line-height: 99.78%;
            letter-spacing: 0.05rem;
            .size-6 {
              font-size: 1.6rem;
              font-weight: 700;
            }
          }
        }
			}    
			.carousel-control-prev {
				left: 2.5rem;
				top: 45%;
				bottom: 43%;
				opacity: revert;
				.carousel-control-prev-icon {
					background-image: url(../assets/left-arrow.svg);                   
					width: 100%;
					height: 100%;                   
				}
			}
			.carousel-control-next {
				right: 2.5rem;
				top: 45%;
				bottom: 43%;
				opacity: revert;
				.carousel-control-next-icon {
					background-image: url(../assets/right-arrow.svg);   
					width: 100%;
					height: 100%;         
				}
			}           
		}
	}
}

// section 2
.section2 {
	@extend .section1;
	background-color: $purple;
}
// section 3
.section3 {
	@extend .section1;
	background-color: $green;
	.section-heading1 {
		letter-spacing: 0.3rem;
	}
}
// section 4
.section4 {
	@extend .section1;
	background-color: $violet;
}
// home page main: small breakpoint
@include media(small) {
	.section1, .section2, .section3, .section4 {
		.videos {
			.carousel-inner {
        .carousel-item {
          .carousel-caption{
            .size-6 {
              font-size: 1.92rem;
            }                   
          }
        }
			}
		}
	}
}

// home page main: medium breakpoint
// section 1
@include media(medium) {
	.section1 {
    display: flex;
		justify-content: center;
    column-gap: 9.7%;
    padding: 11.8%;
		max-width: 144rem;
		height: min(46.66vw, 67.2rem);
		background-color: $blue;
		.phrases {
			flex-basis: 41.6rem;
			flex-shrink: 1;
			row-gap: 11%;
      padding: 0;
			padding-top: 1px;
			.section-subheading {
				font-size: min(1.6vw, 2.304rem);
			}
			.section-heading1 {
				font-size: min(3.318vw, 4.778rem);
			}
		}
		.videos {
			flex-basis: 57.3rem;
			flex-shrink: 1;
			align-self: center;
		}
	} 
}
// section 2
@include media(medium) {
	.section2 {
		@extend .section1;
		background-color: $purple;
	}   
}
// section 3
@include media(medium) {
	.section3 {
		@extend .section1;
		background-color: $green;
		.phrases {
			.section-heading1 {
				letter-spacing: 0.4rem;
			}
		}
	}   
}
// section 4
@include media(medium) {
	.section4 {
		@extend .section1;
		background-color: $violet;
	}   
}

