* {
    padding: 0;  
    margin: 0;
    max-width: 144rem;  
}

:root {
    margin: 0 auto;
    font-size: 62.5%;
    body {
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}